<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.AchievementService">
<resultMap type="com.db.entity.Achievement" id="AchievementMap">
        <result column="achievement_id" property="achievementId" jdbcType="INTEGER" />
		<result column="student_id" property="studentId" jdbcType="INTEGER"/>
		<result column="paper_id" property="paperId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="score" property="score" jdbcType="INTEGER" />
		
		<!--错题表  -->
		<association property="myMistakes" javaType="com.db.entity.MyMistakes">
		    <id column="mistakes_id" property="mistakesId" jdbcType="INTEGER" />
		<result column="student_id" property="studentId" jdbcType="INTEGER" />
		<result column="mistakes_number" property="mistakesNumber"
			jdbcType="INTEGER" />
		<result column="topic_type" property="topicType" jdbcType="INTEGER" />
		<result column="current_mistakes" property="currentMistakes"
			jdbcType="INTEGER" />
		<result column="question_id" property="questionId" jdbcType="INTEGER" />
		<result column="value" property="value" jdbcType="INTEGER" />
		<result column="paper_id" property="paperId" jdbcType="INTEGER" />
		<result column="class_id" property="classId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		</association>
		
		<!--学生信息表  -->
		<association property="student" javaType="com.db.entity.Student">
		      <id column="student_id" property="studentId" jdbcType="INTEGER" />
		       <result column="student_name" property="studentName" jdbcType="VARCHAR" />
		</association>
		
		<!-- 试卷表 -->
		<association property="paperInfo" javaType="com.db.entity.PaperInfo">
		          <id column="pi_id" property="piId" jdbcType="INTEGER" />
		       <result column="pi_name" property="piName" jdbcType="VARCHAR" />
		       <result column="subject" property="subject" jdbcType="INTEGER" />
		        <result column="paper_id" property="paperId" jdbcType="INTEGER" />
		</association>
		<!-- 科目表 -->
		<association property="subject" javaType="com.db.entity.Subject">
		          <id column="subject_id" property="subjectId" jdbcType="INTEGER" />
		       <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
		</association>
</resultMap>
<insert id="saveAchievement" parameterType="com.db.entity.Achievement"
      useGeneratedKeys="true" keyProperty="achievementId">
    insert into td_achievement (student_id,paper_id,create_time,score) 
              values(#{studentId},#{paperId},#{createTime},#{score})
</insert>

<select id="getAchievementById" resultMap="AchievementMap">
   select * from td_achievement a left join tb_my_mistakes m on a.paper_id=m.paper_id 
            left join tb_student s on a.student_id=s.student_id 
            left join tb_paper_info p on a.paper_id=p.paper_id  left join tb_subject sub on p.subject=sub.subject_id
                  where a.achievement_id=#{achievementId}
</select>
<select id="returnScoreName" resultMap="AchievementMap">
   select * from td_achievement a left join tb_student s on a.student_id=s.student_id 
     where a.achievement_id=#{achievementId}
</select>
</mapper>