<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.ClassNoService">
	<resultMap id="ClassNoMap" type="com.db.entity.ClassNo">
		<result column="class_id" property="classId" jdbcType="INTEGER" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="season_type" property="seasonType" jdbcType="INTEGER" />
		<result column="subject" property="subject" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="class_name" property="className" jdbcType="VARCHAR" />
		<result column="class_type" property="classType" jdbcType="INTEGER" />
		<result column="class_number" property="classNumber" jdbcType="INTEGER" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="room_id" property="roomId" jdbcType="INTEGER" />
		<result column="school_area" property="schoolArea" jdbcType="INTEGER" />
		<result column="actual_number" property="actualNumber" jdbcType="INTEGER" />
		<result column="max_number" property="maxNumber" jdbcType="INTEGER" />
		<result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
		<result column="is_end_course" property="isEndCourse" jdbcType="INTEGER" />
		<result column="course_number" property="courseNumber" jdbcType="INTEGER" />
		<result column="actual_course" property="actualCourse" jdbcType="INTEGER" />

       <association property="subject2" javaType="com.db.entity.Subject">
       	<id column="subject_id" property="subjectId" jdbcType="INTEGER" />
		<result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
       </association>
       
        <association property="teacher" javaType="com.db.entity.Teacher">
        <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
        </association>
        
       <association property="schoolZone" javaType="com.db.entity.SchoolZone">
       	<id column="school_id" property="schoolId" jdbcType="INTEGER" />
		<result column="school_name" property="schoolName" jdbcType="VARCHAR" />
		<result column="is_using" property="isUsing" jdbcType="INTEGER" />
       </association>
       
        <association property="schoolYear" javaType="com.db.entity.SchoolYear">
          <id column="id" property="id" jdbcType="INTEGER" />    
          <result column="school_year" property="year" jdbcType="INTEGER" /> 
       </association>
       
       <association property="course" javaType="com.db.entity.Course">
       	<id column="course_id" property="courseId" jdbcType="INTEGER" />
		<result column="room_id" property="roomId" jdbcType="INTEGER" />
		<result column="class_id" property="classId" jdbcType="INTEGER" />
		<result column="course_type" property="courseType" jdbcType="INTEGER"/>
		<result column="course_date" property="courseDate" jdbcType="VARCHAR" />
		<result column="course_times" property="courseTimes" jdbcType="INTEGER" />
		<result column="lecturenote_id" property="lecturenoteId"
			jdbcType="INTEGER" />
		<result column="exam_id" property="examId" jdbcType="INTEGER" />
		<result column="homework_id" property="homeworkId" jdbcType="INTEGER" />
		<result column="paper_record_id" property="paperrecordId"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="subject_id" property="subjectId" jdbcType="INTEGER" />
       </association>
       
       <association property="grade2" javaType="com.db.entity.Grade">
       	<id column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
       </association>
       
       <association property="seasonType2" javaType="com.db.entity.SeasonType">
            <id column="season_id" property="seasonId" jdbcType="INTEGER" />
		<result column="season_name" property="seasonName" jdbcType="VARCHAR" />
       </association>
       
		<collection property="subjectlist" resultMap="SubjectMap"></collection>
		<collection property="gradelist" resultMap="GradeMap"></collection>
		<collection property="seasonTypelist" resultMap="SeasonMap"></collection>
		<collection property="schoolZonelist" resultMap="schoolMap"></collection>
		<collection property="classroomlist" resultMap="ClassroomMap"></collection>
		<collection property="teacherlist" resultMap="teacherMap"></collection>
		<collection property="studentlist" resultMap="studentMap"></collection>
	</resultMap>

	<resultMap id="ClassroomMap" type="com.db.entity.Classroom">
		<id column="classroom_id" property="classroomId" jdbcType="INTEGER" />
		<result column="classroom_name" property="classroomName"
			jdbcType="VARCHAR" />
		<result column="max_number" property="maxNumber" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="teacherMap" type="com.db.entity.Teacher">
		<result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="teacher_status" property="teacherStatus"
			jdbcType="INTEGER" />
		<result column="subject" property="subject" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="campus" property="campus" jdbcType="VARCHAR" />
		<result column="account_validity" property="accountValidity" />
		<result column="teach_class" property="teachClass" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="studentMap" type="com.db.entity.Student">
		<result column="student_id" property="studentId" jdbcType="INTEGER" />
		<result column="student_name" property="studentName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="class_no" property="classNo" jdbcType="INTEGER" />
		<result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
		<result column="choice_type" property="choiceType" jdbcType="INTEGER" />
		<result column="student_status" property="studentStatus"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="custodian1_relationship" property="custodian1Relationship"
			jdbcType="VARCHAR" />
		<result column="custodian1_name" property="custodian1Name"
			jdbcType="VARCHAR" />
		<result column="custodian1_phone" property="custodian1Phone"
			jdbcType="VARCHAR" />
		<result column="custodian2_relationship" property="custodian2Relationship"
			jdbcType="VARCHAR" />
		<result column="custodian2_name" property="custodian2Name"
			jdbcType="VARCHAR" />
		<result column="custodian2_phone" property="custodian2Phone"
			jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="head_image" property="headImage" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="attend_school" property="attendSchool"
			jdbcType="VARCHAR" />
		<result column="intentional_school" property="intentionalSchool"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.db.entity.SchoolZone" id="schoolMap">
		<id column="school_id" property="schoolId" jdbcType="INTEGER" />
		<result column="school_name" property="schoolName" jdbcType="VARCHAR" />
		<result column="is_using" property="isUsing" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.db.entity.Subject" id="SubjectMap">
		<id column="subject_id" property="subjectId" jdbcType="INTEGER" />
		<result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="GradeMap" type="com.db.entity.Grade">
		<id column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.db.entity.SeasonType" id="SeasonMap">
		<id column="season_id" property="seasonId" jdbcType="INTEGER" />
		<result column="season_name" property="seasonName" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addClasses" keyProperty="classId" 
		parameterType="com.db.entity.ClassNo" useGeneratedKeys="true">
		insert into
		tb_class_no(class_id,year,season_type,subject,grade,class_name,
		class_type,class_number,remarks,create_time,school_area,actual_number,max_number,course_number,actual_course
		<if test="teacherId !=null">
      		<![CDATA[,teacher_id]]>
		</if>
		)
		values(#{classId},#{year},#{seasonType},#{subject},#{grade},#{className},#{classType},
		#{classNumber},#{remarks},#{createTime},#{schoolArea},#{actualNumber},#{maxNumber},#{courseNumber},#{actualCourse}
		<if test="teacherId !=null">
      		<![CDATA[,#{teacherId}]]>
		</if>
		);
	</insert>

	<select id="getClassNoDateTime" resultMap="ClassNoMap">
		select * from tb_class_no
	</select>

	<select id="getAllClasses" resultMap="ClassNoMap">
		select * from tb_class_no
		tc left join tb_subject ts on
		tc.subject=ts.subject_id
		left join
		tb_grade tg on tc.grade=tg.grade_id left join tb_season_type tst
		on
		tc.season_type=tst.season_id left join tb_school_zone tsz on
		tc.school_area=tsz.school_id
		where school_area=#{schoolArea} order by tc.create_time desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="getAllClasses1" resultMap="ClassNoMap">
	select * from tb_class_no tc
	left join tb_subject ts on tc.subject=ts.subject_id
	left join tb_grade tg on tc.grade=tg.grade_id
	left join tb_season_type tst on tc.season_type=tst.season_id
	left join tb_school_zone tsz on tc.school_area=tsz.school_id
	left join tb_school_year sy on tc.year=sy.id
	left join tb_teacher t on tc.teacher_id=t.teacher_id
	where 1=1
	<if test="subject !='' and subject != null">
		and tc.subject=#{subject}
	</if>
	<if test="seasonType!='' and seasonType!=null">
		and tc.season_type=#{seasonType}
	</if>
	<if test="year !='' and year !=null">
		and tc.year=#{year}
	</if>
	<if test="content !='' and content !=null">
		and tc.class_name like '%${content}%'
	</if>
	order by tc.class_id desc limit #{pageNo},#{pageSize}
	</select>
	<!--教师只能看自己学员的班级  -->
	<select id="findSchoolIdList" resultMap="ClassNoMap">
	select * from tb_class_no tc
	left join tb_subject ts on tc.subject=ts.subject_id
	left join tb_grade tg on tc.grade=tg.grade_id
	left join tb_season_type tst on tc.season_type=tst.season_id
	left join tb_school_zone tsz on tc.school_area=tsz.school_id
	left join tb_school_year sy on tc.year=sy.id
	left join tb_teacher t on tc.teacher_id=t.teacher_id
	where 1=1
	<if test="schoolArea !='' and schoolArea != null">
		and tc.school_area=#{schoolArea}
	</if>
	<if test="subject !='' and subject != null">
		and tc.subject=#{subject}
	</if>
	<if test="seasonType!='' and seasonType!=null">
		and tc.season_type=#{seasonType}
	</if>
	<if test="year !='' and year !=null">
		and tc.year=#{year}
	</if>
	<if test="content !='' and content !=null">
		and tc.class_name like '%${content}%'
	</if>
	order by tc.class_id,tc.is_end_course=0 desc limit #{pageNo},#{pageSize}
	</select>
	<select id="schoolCount" resultType="int">
	   select count(*) from tb_class_no tc where 1=1
	  <if test="schoolArea !='' and schoolArea != null">
		 and tc.school_area=#{schoolArea}
	</if>
	<if test="subject !='' and subject != null">
		and tc.subject=#{subject}
	</if>
	<if test="seasonType!='' and seasonType!=null">
		and tc.season_type=#{seasonType}
	</if>
	<if test="year !='' and year !=null">
		and tc.year=#{year}
	</if>
	<if test="content !='' and content !=null">
		and tc.class_name like '%${content}%'
	</if>
	</select>

	<!--当前登录的老师 -->
	<select id="getAllClassBySchoolwhenspringfall" resultMap="ClassNoMap">
		select
		* from tb_class_no tc left join tb_subject ts on
		tc.subject=ts.subject_id
		left join tb_grade tg on tc.grade=tg.grade_id
		left join tb_season_type tst
		on
		tc.season_type=tst.season_id left join
		tb_school_zone tsz on tc.school_area=tsz.school_id
		where
		(tc.season_type=1 or tc.season_type=2) and
		tc.school_area=#{schoolArea} and tc.is_end_course=0
		<!-- and class_id in -->
		<!-- <foreach item="classList" collection="classList" -->
		<!-- open="(" separator="," close=")"> -->
		<!-- #{classList} -->
		<!-- </foreach>; -->
	</select>
	<!--管理员 -->
	<select id="getAdminClassById" resultMap="ClassNoMap">
		select
		* from tb_class_no tc left join tb_subject ts on
		tc.subject=ts.subject_id
		left join tb_grade tg on tc.grade=tg.grade_id
		left join tb_season_type tst
		on
		tc.season_type=tst.season_id left join
		tb_school_zone tsz on tc.school_area=tsz.school_id
		where
		(tc.season_type=1 or tc.season_type=2) and tc.is_end_course=0
		<!-- and class_id in -->
		<!-- <foreach item="classList" collection="classList" -->
		<!-- open="(" separator="," close=")"> -->
		<!-- #{classList} -->
		<!-- </foreach>; -->
	</select>

	<!-- 当前登录老师 -->
	<select id="getAllClassBySchoolwhenholiday" resultMap="ClassNoMap">
		select *
		from tb_class_no tc left join tb_subject ts on
		tc.subject=ts.subject_id
		left join tb_grade tg on tc.grade=tg.grade_id
		left join tb_season_type tst
		on tc.season_type=tst.season_id left join
		tb_school_zone tsz on tc.school_area=tsz.school_id
		left join
		tb_classroom tcr on tc.room_id=tcr.classroom_id where
		(tc.season_type=3 or tc.season_type=4 or tc.season_type=5) and
		tc.school_area=#{schoolArea} and tc.is_end_course=0
		<!-- and class_id in -->
		<!-- <foreach item="classList" collection="classList" -->
		<!-- open="(" separator="," close=")"> -->
		<!-- #{classList} -->
		<!-- </foreach>; -->
	</select>
	<!-- 管理员 -->
	<select id="getHolidayAdminClassById" resultMap="ClassNoMap">
		select *
		from tb_class_no tc left join tb_subject ts on
		tc.subject=ts.subject_id
		left join tb_grade tg on tc.grade=tg.grade_id
		left join tb_season_type tst
		on
		tc.season_type=tst.season_id left join
		tb_school_zone tsz on tc.school_area=tsz.school_id
		left join
		tb_classroom tcr on tc.room_id=tcr.classroom_id where
		(tc.season_type=3 or tc.season_type=4 or tc.season_type=5) and tc.is_end_course=0
		<!-- and class_id in -->
		<!-- <foreach item="classList" collection="classList" -->
		<!-- open="(" separator="," close=")"> -->
		<!-- #{classList} -->
		<!-- </foreach>; -->
	</select>

	<!-- 春季筛选排课(当前老师) -->
	<select id="getClassBySubjectGradeSeason" parameterType="Integer"
		resultMap="ClassNoMap">
		select * from tb_class_no tc left join tb_classroom tcr on
		tc.room_id=tcr.classroom_id
		left join tb_season_type tst on
		tc.season_type=tst.season_id
		left join tb_school_year sy on
		tc.year=sy.id
		<!-- left join tb_course cc on tc.class_id=cc.class_id -->
		<where>
			<!-- cc.course_type=0 and -->
			(tc.season_type=1 or tc.season_type=2) and
			tc.school_area=#{schoolArea}
			<if test="subject != null">
				and tc.subject=#{subject}
			</if>
			<if test="grade != null">
				and tc.grade=#{grade}
			</if>
			<if test="seasonType!='' and seasonType!=null">
				and tc.season_type=#{seasonType}
			</if>
			<if test="schoolYear !='' and schoolYear != null">
				and tc.year=#{schoolYear}
			</if>

			<!-- <if test="classList !='' and classList !=null"> -->
			<!-- and tc.class_id in -->
			<!-- <foreach item="classList" collection="classList" -->
			<!-- open="(" separator="," close=")"> -->
			<!-- #{classList} -->
			<!-- </foreach>; -->
			<!-- </if> -->
		</where>
	</select>


	<!-- 春季筛选排课 (管理员) -->
	<select id="findAdminSchholIdById" parameterType="Integer"
		resultMap="ClassNoMap">
		select * from tb_class_no tc left join tb_classroom tcr on
		tc.room_id=tcr.classroom_id
		left join tb_season_type tst on
		tc.season_type=tst.season_id
		left join tb_school_year sy on
		tc.year=sy.id
		<!-- left join tb_course cc on tc.class_id=cc.class_id -->
		<where>
			(tc.season_type=1 or tc.season_type=2)
			<if test="subject != null">
				and tc.subject=#{subject}
			</if>
			<if test="grade != null">
				and tc.grade=#{grade}
			</if>
			<if test="seasonType!='' and seasonType!=null">
				and tc.season_type=#{seasonType}
			</if>
			<if test="schoolYear !='' and schoolYear != null">
				and tc.year=#{schoolYear}
			</if>
		</where>
	</select>

	<!-- 当前登录的老师 -->
	<select id="getHolidaySubject" parameterType="Integer"
		resultMap="ClassNoMap">
		select * from tb_class_no tc left join tb_classroom tcr on
		tc.room_id=tcr.classroom_id
		left join tb_season_type tst on
		tc.season_type=tst.season_id
		left join tb_school_year sy on
		tc.year=sy.id
		<!-- left join tb_course cc on tc.class_id=cc.class_id -->
		<where>
			(tc.season_type=3 or tc.season_type=4 or tc.season_type=5)
			<if test="subject != null">
				and tc.subject=#{subject}
			</if>
			<if test="grade != null">
				and tc.grade=#{grade}
			</if>
			<if test="schoolArea!='' and schoolArea!=null">
				and tc.school_area=#{schoolArea}
			</if>
			<if test="seasonType!='' and seasonType!=null">
				and tc.season_type=#{seasonType}
			</if>
			<if test="year!=''">
				and tc.year=${schoolYear}
			</if>
			<!-- <if test="classList !='' and classList !=null"> -->
			<!-- and tc.class_id in -->
			<!-- <foreach item="classList" collection="classList" -->
			<!-- open="(" separator="," close=")"> -->
			<!-- #{classList} -->
			<!-- </foreach>; -->
			<!-- </if> -->
		</where>
	</select>

	<!-- 当前登录的管理员 -->
	<select id="getHolidayAdmin" parameterType="Integer" resultMap="ClassNoMap">
		select * from tb_class_no tc left join tb_classroom tcr on
		tc.room_id=tcr.classroom_id
		left join tb_season_type tst on
		tc.season_type=tst.season_id
		left join tb_school_year sy on
		tc.year=sy.id
		<!-- left join tb_course cc on tc.class_id=cc.class_id -->
		<where>
			(tc.season_type=3 or tc.season_type=4 or tc.season_type=5)
			<if test="subject != null">
				and tc.subject=#{subject}
			</if>
			<if test="grade != null">
				and tc.grade=#{grade}
			</if>

			<if test="seasonType!='' and seasonType!=null">
				and tc.season_type=#{seasonType}
			</if>
			<if test="schoolYear !='' and schoolYear != null">
				and tc.year=${schoolYear}
			</if>
			<!-- <if test="classList !='' and classList !=null"> -->
			<!-- and tc.class_id in -->
			<!-- <foreach item="classList" collection="classList" -->
			<!-- open="(" separator="," close=")"> -->
			<!-- #{classList} -->
			<!-- </foreach>; -->
			<!-- </if> -->
		</where>
	</select>

	<select id="getClassById" parameterType="Integer" resultMap="ClassNoMap">
		select * from tb_class_no tcn left join tb_subject ts on 
		tcn.subject=ts.subject_id left join tb_grade tg on tcn.grade=
		tg.grade_id where class_id=#{classId};
	</select>

	<update id="updateClasses" parameterType="com.db.entity.ClassNo">
		update tb_class_no 
		<set>
			update_time=#{updateTime}
			<if test="year !=null and year !=''">
				,year=#{year}
			</if>
			<if test="subject !=null">
				,subject=#{subject}
			</if>
			<if test="className !=null and className !=''">
				,class_name=#{className}
			</if>
			<if test="classNumber !=null and classNumber !=''">
				,class_number=#{classNumber}
			</if>
			<if test="schoolArea !=null and schoolArea !=''">
				,school_area=#{schoolArea}
			</if>
			<if test="seasonType !=null and seasonType !=''">
				,season_type=#{seasonType}
			</if>
			<if test="grade !=null">
				,grade=#{grade}
			</if>
			<if test="actualNumber !=null">
				,actual_number=#{actualNumber}
			</if>
			<if test="maxNumber !=null">
				,max_number=#{maxNumber}
			</if>
			<if test="teacherId !=null">
				,teacher_id=#{teacherId}
			</if>
			<if test="isEndCourse !=null">
				,is_end_course=#{isEndCourse}
			</if>
			<if test="actualCourse !=null">
				,actual_course=#{actualCourse}
			</if>
			<if test="courseNumber !=null">
				,course_number=#{courseNumber}
			</if>
		</set>
		where class_id=#{classId};
	</update>

	<delete id="deleteClasses" parameterType="java.lang.Integer">
		delete from tb_class_no
		where class_id=#{classId};
	</delete>
	
	<select id="getClassesNo2" resultMap="ClassNoMap">
		select * from tb_class_no c,tb_season_type s where c.season_type=#{seasonId}
	</select>
	
	<select id="getClassesNo" resultMap="ClassNoMap">
		select * from tb_class_no
	</select>
	<select id="findHisStudents" parameterType="com.db.entity.Teacher" resultMap="studentMap">
		SELECT * FROM tb_class_no c LEFT JOIN tb_student s ON s.class_no = c.class_id LEFT JOIN tb_teacher t  ON t.class_no = c.class_id 
		WHERE t.teacher_id = #{teacherId}
	</select>
	<select id="getCount" resultType="int">
	   select count(*) from tb_class_no where 1=1
	</select>
	
	<select id="getClassByTeacherclass" resultMap="ClassNoMap">
	select * from tb_class_no tcn left join tb_subject ts on
	tcn.subject=ts.subject_id
	left join tb_season_type tst on tcn.season_type=tst.season_id left join
	tb_school_zone tsz on tcn.school_area=tsz.school_id where tcn.is_end_course=0
	<if test="classList != null and classList !=''">
		and tcn.class_id in
		<foreach item="classList" collection="classList" open="("
			separator="," close=")">
			#{classList}
		</foreach>
	</if>
	<if test="className != null and className != ''">
		and class_name like CONCAT('%','${className}','%')
	</if>
	<if test="schoolId != null">
		and school_area=#{schoolId}
	</if>
	<if test="subject != null">
		and subject=#{subject}
	</if>
	<if test="classId != null">
		and class_id=#{classId}
	</if>
	limit #{pageNo},#{pageSize};
</select>

<select id="findClassCount" resultType="int">
	select count(*) from tb_class_no where is_end_course=0
	<if test="className != null and className != ''">
		and class_name like CONCAT('%','${className}','%')
	</if>
	<if test="schoolId != null">
		and school_area=#{schoolId}
	</if>
	<if test="subject != null">
		and subject=#{subject}
	</if>
</select>
	
	<select id="getClassByClassnos" resultMap="ClassNoMap">
		select * from tb_class_no cn left join tb_grade g on cn.grade=g.grade_id
		 where cn.is_end_course=0
<!-- 		<if test="classList !=null and classList !=''"> -->
<!-- 			and class_id in  -->
<!-- 			<foreach item="classList" collection="classList"  -->
<!-- 				open="(" separator="," close=")"> -->
<!-- 				#{classList} -->
<!-- 			</foreach> -->
<!-- 		</if> -->
		<if test="classId !=null and classId !=''">
			and cn.class_id=#{classId}
		</if>
	</select>
	
	<select id="getClassList" resultMap="ClassNoMap">
	select * from tb_class_no where 1=1 
			<if test="classList !=null and classList !=''">
			and class_id in 
			<foreach item="classList" collection="classList" 
				open="(" separator="," close=")">
				#{classList}
			</foreach>
		</if>
	</select>
	
	<select id="getClassBySeasonType" resultMap="ClassNoMap">
		select * from tb_class_no where class_id in 
			<foreach item="classList" collection="classList" 
				open="(" separator="," close=")">
				#{classList}
			</foreach>
		<if test="seasonType !=null and seasonType !=''">
			and season_type=#{seasonType}
		</if>
	</select>
	<select id="findTaskClassById" resultMap="ClassNoMap">
	select * from tb_class_no where class_id=#{classId}
	</select>
	<select id="getClassListStudent" resultMap="ClassNoMap">
	   SELECT * FROM tb_class_no cn LEFT JOIN tb_student s ON cn.class_id=s.class_no  
	       LEFT JOIN tb_subject sub ON cn.subject=sub.subject_id
	          WHERE s.student_id IS NOT NULL 
	           AND s.class_no IS NOT NULL
	          <if test="subjectType != null">
	            and cn.subject=#{subjectType}
	          </if>
	          <if test="classId != null">
	           and cn.class_id=#{classId}
	          </if>
	          <if test="gradeId != null">
	           and cn.grade=#{gradeId}
	          </if>
	</select>
	<select id="getStringClassById" resultMap="ClassNoMap">
	        select * from tb_class_no where class_id=#{classId}
	</select>
	
	<select id="judgeSameClassName" parameterType="String" resultMap="ClassNoMap">
		select * from tb_class_no where class_name like '%${className}%' and class_id!=#{classId};
	</select>
	<select id="findSubjectList" resultMap="ClassNoMap">
	   select * from tb_class_no c
	   left join tb_grade g on c.grade=g.grade_id
	   left join tb_subject sub on c.subject=sub.subject_id
	   left join tb_season_type st on c.season_type=st.season_id
	   left join tb_school_year ye on c.year=ye.id
	   left join tb_school_zone sz on c.school_area=sz.school_id
	   where c.is_end_course=0
	   <if test="className != null and className !=''">
	     and c.class_name like CONCAT('%','${className}','%')
	   </if>
	    <if test="subject != null">
	    and c.subject=#{subject}
	   </if>
	     <if test="seasonType != null">
	     and c.school_area=#{seasonType}
	    </if>
	    <if test="grade != null">
	    and c.grade=#{grade}
	   </if>
	      order by c.class_id desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="getSchoolIdByList" resultMap="ClassNoMap">
	   select * from tb_class_no c
	   left join tb_grade g on c.grade=g.grade_id
	   left join tb_subject sub on c.subject=sub.subject_id
	   left join tb_season_type st on c.season_type=st.season_id
	   left join tb_school_year ye on c.year=ye.id
	   left join tb_school_zone sz on c.school_area=sz.school_id
	   where c.is_end_course=0 and c.school_area=#{schoolId}
	   <if test="className != null and className !=''">
	     and c.class_name like CONCAT('%','${className}','%')
	   </if>
	    <if test="subject != null">
	    and c.subject=#{subject}
	   </if>
	     <if test="seasonType != null">
	     and c.school_area=#{seasonType}
	    </if>
	    <if test="grade != null">
	    and c.grade=#{grade}
	   </if>
	      order by c.class_id desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="getCountClassId" resultType="int">
	 select count(*) from tb_class_no where is_end_course=0
	  <if test="className != null and className !=''">
	     and class_name like CONCAT('%','${className}','%')
	   </if>
	    <if test="subject != null">
	    and subject=#{subject}
	   </if>
	     <if test="grade != null">
	    and grade=#{grade}
	   </if>
	     <if test="seasonType != null">
	    and school_area=#{seasonType}
	   </if>
	</select>
	
	<select id="getCountSchoolId" resultType="int">
	 select count(*) from tb_class_no where is_end_course=0 and school_area=#{schoolId}
	  <if test="className != null and className !=''">
	     and class_name like CONCAT('%','${className}','%')
	   </if>
	    <if test="subject != null">
	    and subject=#{subject}
	   </if>
	     <if test="grade != null">
	    and grade=#{grade}
	   </if>
	     <if test="seasonType != null">
	    and school_area=#{seasonType}
	   </if>
	</select>
	
	<select id="addIsExistence" resultMap="ClassNoMap">
	  select * from tb_class_no where school_area=#{schoolArea} and grade=#{grade} and subject=#{subject} and class_name=#{className}
	</select>
	<select id="findIsExistenceCampus" resultMap="ClassNoMap">
	    select * from tb_class_no where school_area=#{schoolArea}
	</select>
	<select id="findClassByIdList" resultMap="ClassNoMap">
	 select * from tb_class_no cn left join tb_course cou on cn.class_id=cou.class_id
	  where cou.class_id IS NOT NULL and cn.is_end_course=0
	</select>
</mapper>