<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.ClassTypeService">
    <resultMap id="BaseResultMap" type="com.db.entity.ClassType">    
        <result column="ct_id" property="ctId" jdbcType="INTEGER" />    
        <result column="class_name" property="className" jdbcType="VARCHAR" />   
    </resultMap>    


</mapper>