<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.service.HomeworkAnswerService">
	<resultMap type="com.db.entity.HomeworkAnswer" id="HomeworkAnswerMap">
		<result column="answer_id" property="answerId" jdbcType="INTEGER" />
		<result column="student_id" property="studentId" jdbcType="INTEGER" />
		<result column="question_id" property="questionId" jdbcType="INTEGER" />
		<result column="question_type" property="questionType"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="write_answer" property="writeAnswer" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="DOUBLE" />
		<result column="paper_id" property="paperId" jdbcType="INTEGER" />
		<result column="is_complete" property="isComplete" jdbcType="INTEGER" />
        <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
          <result column="is_true" property="isTrue" jdbcType="INTEGER" />
            <result column="class_id" property="classId"  jdbcType="INTEGER" />
            
            <association property="student" javaType="com.db.entity.Student">
	<id column="student_id" property="studentId" jdbcType="INTEGER" />
	<result column="student_name" property="studentName" jdbcType="VARCHAR" />
	<result column="sex" property="sex" jdbcType="INTEGER" />
	<result column="age" property="age" jdbcType="INTEGER" />
	<result column="grade" property="grade" jdbcType="INTEGER" />
	<result column="class_no" property="classNo" jdbcType="VARCHAR" />
            
            </association>
	</resultMap>

<select id="getHomeworkAnswerById" resultMap="HomeworkAnswerMap">
     select * from td_homework_answer where answer_id=#{answerId}

</select>
	<!-- 保存课后作业答案及提目 -->
	<insert id="saveHomewor" parameterType="com.db.entity.HomeworkAnswer" 
	       useGeneratedKeys="true" keyProperty="answerId">
	insert into
	td_homework_answer(paper_id,student_id,question_id,create_time,write_answer
	<if test="questionType != null and questionType != ''">
    <![CDATA[,question_type]]>
	</if>
	<if test="value != null">
    <![CDATA[,value]]>
	</if>
	<if test="subjectId != null">
    <![CDATA[,subject_id]]>
	</if>
	<if test="classId != null">
    <![CDATA[,class_id]]>
	</if>
	)
	values(#{paperId},#{studentId},#{questionId},#{createTime},#{writeAnswer}
	<if test="questionType != null and questionType != ''">
    <![CDATA[,#{questionType}]]>
	</if>
	<if test="value != null">
    <![CDATA[,#{value}]]>
	</if>
	<if test="subjectId != null">
    <![CDATA[,#{subjectId}]]>
	</if>
	<if test="classId != null">
    <![CDATA[,#{classId}]]>
	</if>
		)
	</insert>
	
	<update id="updateIsTrue" parameterType="com.db.entity.HomeworkAnswer">
	    update td_homework_answer <set>
	       is_true=#{isTrue}
	       <if test="value != null">
	       ,value=#{value}
	       </if> 
	       <if test="isComplete != null and isComplete != ''">
	       ,is_complete=#{isComplete}
	       </if> 
	    </set> 
	       where answer_id=#{answerId}
	</update>
	<select id="findHomeworkAnswerById" resultMap="HomeworkAnswerMap">
	  select * from td_homework_answer where student_id=#{0} and paper_id=#{1}
	</select>
	
	<select id="getcountTrue" resultType="Integer">
   select count(*) from td_homework_answer 
      where paper_id=#{paperId} and is_true=#{isTrue}
      <if test="studentId != null">
       and student_id=#{studentId} 
      </if>
       <if test="type != null">
       and question_type=#{type} 
      </if>
       <if test="isTrue != null">
       and is_true=#{isTrue} 
      </if>
       <if test="classId != null">
       and class_id=#{classId} 
      </if>
       <if test="paperId != null">
       and paper_id=#{paperId} 
      </if>
       <if test="paperId != null">
       and question_id=#{questionId} 
      </if>
   </select>
   
    <select id="getcountFlase" resultType="Integer">
   select count(*) from td_homework_answer 
      where student_id=#{studentId} and paper_id=#{paperId} and is_true=#{isTrue}
   </select>
   
   <select id="getCountwhenWriting" resultType="Integer">
   		select count(*) from td_homework_answer where student_id=#{studentId} and paper_id=#{paperId};
   </select>
   <select id="isdoPaperIdById" resultMap="HomeworkAnswerMap">
     select * from td_homework_answer where student_id=#{studentId} and paper_id=#{paperId} 
     and question_id=#{questionId} and question_type=#{questionType}
   </select>
   <update id="updateWriteAnswer" parameterType="com.db.entity.HomeworkAnswer"
    useGeneratedKeys="true" keyProperty="answerId">
	update td_homework_answer
	<set>
		create_time=#{createTime}
		<if test="value != null">
			,value=#{value}
		</if>
		<if test="writeAnswer != null and writeAnswer != ''">
			,write_answer=#{writeAnswer}
		</if>
		<if test="classId != null">
			,class_id=#{classId}
		</if>
	</set>
	where answer_id=#{answerId}
   </update>
   <select id="findhomeworhAnalysis" resultMap="HomeworkAnswerMap">
   SELECT DISTINCT question_type,question_id FROM td_homework_answer
      WHERE paper_id=#{paperId} and class_id=#{classId} limit #{pageNo},#{pageSize}
   </select>
   <select id="findAnalysisCount" resultType="int">
   SELECT COUNT(DISTINCT question_type,question_id) AS answer_id FROM td_homework_answer
    WHERE paper_id=#{paperId} and class_id=#{classId}
   </select>
   <select id="findStudentInformation" resultMap="HomeworkAnswerMap">
     select * from td_homework_answer pa left join tb_student s on pa.student_id=s.student_id
         where pa.paper_id=#{paperId} and pa.class_id=#{classId} and pa.is_true=#{isTrue} and pa.question_id=#{questionId}
        and pa.question_type=#{type}
         order by pa.question_type asc limit #{pageNo},#{pageSize}
   </select>
   <select id="findStudentInformationCount" resultType="int">
   select count(*) from td_homework_answer 
     where paper_id=#{paperId} and class_id=#{classId} and is_true=#{isTrue} 
     and question_id=#{questionId} and question_type=#{type}
   </select>
   <!-- 题型平均分 -->
	<select id="getQuestionAvg" resultType="double">
		select avg(value) from td_homework_answer where paper_id=#{paperId} and
		class_id=#{classId}
		and question_type=#{type}
	</select>
</mapper>