<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.NoticeService">
    <resultMap id="NoticeMap" type="com.db.entity.Notice">    
        <result column="notice_id" property="noticeId" jdbcType="INTEGER" />    
        <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
        <result column="notice_content" property="noticeContent" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime"/>
        <result column="is_remove" property="isRemove" jdbcType="INTEGER" /> 
        <result column="delete_id" property="deleteId" jdbcType="INTEGER" />
        <association property="teacher" javaType="com.db.entity.Teacher">
           <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />    
           <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    
    <insert id="addNotice" parameterType="com.db.entity.Notice"
    	useGeneratedKeys="true" keyProperty="noticeId">
    	insert into tb_notice(notice_title,notice_content,user_id,create_time) 
    	values(#{noticeTitle},#{noticeContent},#{userId},#{createTime});
    </insert>

	<select id="getAllNotice" resultMap="NoticeMap">
		select * from tb_notice as nt left join tb_teacher as tt on nt.user_id = tt.teacher_id where 1=1
		<choose>
		 <when test="deleteId != null">
		   and nt.is_remove &lt;&gt;2 
		 </when>
		 <otherwise>
		     and nt.delete_id is null  and nt.is_remove=1
		 </otherwise>
		</choose>
		order by nt.create_time desc limit #{pageNo},#{pageSize};
	</select>
	
	<select id="getNoticeById" resultMap="NoticeMap">
		select * from tb_notice where notice_id=#{noticeId};
	</select>
	
	<update id="updateNotice" parameterType="com.db.entity.Notice">
		update tb_notice set update_time=#{updateTime},notice_title=
		#{noticeTitle},notice_content=#{noticeContent} where notice_id=#{noticeId};
	</update>
	<update id="updateIsRemove"  parameterType="com.db.entity.Notice" 
	     useGeneratedKeys="true" keyProperty="noticeId">
	   update tb_notice set delete_id=#{deleteId},is_remove=#{isRemove} where notice_id=#{noticeId};
	</update>
	<delete id="deleteNotice">
		delete from tb_notice where notice_id=#{noticeId};
	</delete>
	<select id="findUserById" resultMap="NoticeMap">
	select * from tb_notice where user_id=#{userId};
	</select>
	<update id="updateIsRemoveDelete" parameterType="com.db.entity.Notice">
	  update tb_notice set is_remove=2 where notice_id=#{noticeId}
	</update>
</mapper>