<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.QuestionSourceService">
    <resultMap id="QuestionSourceMap" type="com.db.entity.QuestionSource">    
        <result column="source_id" property="sourceId" jdbcType="INTEGER" />    
        <result column="source_name" property="sourceName" jdbcType="VARCHAR" /> 
         <result column="create_time" property="createTime" />    
    </resultMap>   
     
<!-- 题目来源列表 -->
<select id="questionSource" resultMap="QuestionSourceMap">
  select * from tb_question_source
</select>
<select id="getSourceList" resultMap="QuestionSourceMap">
    select * from tb_question_source where 1=1
    <if test="sourceNamel != null and sourceNamel !=''">
       and source_name like CONCAT('%','${sourceNamel}','%')
    </if>
            order by create_time desc limit #{pageNo},#{pageSize}
</select>
<select id="getCount" resultType="int">
 select count(*) from tb_question_source where 1=1
    <if test="sourceNamel != null and sourceNamel !=''">
       and source_name like CONCAT('%','${sourceNamel}','%')
    </if>
</select>
<select id="getSourceName" resultMap="QuestionSourceMap">
 select * from tb_question_source where source_name=#{sourceName} 
</select>
<insert id="saveSource" parameterType="com.db.entity.QuestionSource">
   insert into tb_question_source (source_name,create_time) 
       values(#{sourceName},#{createTime})
</insert>
<delete id="sourceDelete" parameterType="Integer">
   delete from tb_question_source where source_id=#{sourceId}
</delete>
<select id="getScourseById" resultMap="QuestionSourceMap">
    select * from tb_question_source where source_id=#{sourceId}
</select>

<update id="updateSource" parameterType="com.db.entity.QuestionSource">
   update tb_question_source set source_name=#{sourceName} where source_id=#{sourceId}
</update>
</mapper>