<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.SchoolZoneService">
	<resultMap type="com.db.entity.SchoolZone" id="BaseResultMap">
		<result column="school_id" property="schoolId" jdbcType="INTEGER" />
		<result column="school_name" property="schoolName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />
		<result column="is_using" property="isUsing" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" />
	</resultMap>

<select id="getSchoolZoneById" resultMap="BaseResultMap">
	select * from tb_school_zone where school_id=#{schoolId}
</select>

	<select id="getAllSchool" resultMap="BaseResultMap">
		select * from tb_school_zone where is_using = 1
	</select>
	
	<select id="findSchoolList" resultMap="BaseResultMap">
		select * from tb_school_zone where school_id=#{schoolId}
	</select>

	<insert id="addSchoolZone" keyProperty="schoolId"
		parameterType="com.db.entity.SchoolZone">
		insert
		into tb_school_zone(school_id,school_name,create_time,is_using)
		values(#{schoolId},#{schoolName},#{createTime},#{isUsing});
	</insert>

	<select id="getSchoolZone" resultMap="BaseResultMap">
		select * from tb_school_zone where is_using=1
		<if test="schoolName != null and schoolName != ''">
			and school_name like CONCAT('%','${schoolName}','%')
		</if>
		order by create_time desc
	</select>
	
	<select id="getSchoolZone1" resultMap="BaseResultMap">
		select * from tb_school_zone where 1=1
		<if test="schoolName != null and schoolName != ''">
			and school_name like CONCAT('%','${schoolName}','%')
		</if>
		order by school_id  limit #{pageNo},#{pageSize}
	</select>

	<select id="getCount" resultType="int">
		select count(*) from tb_school_zone where 1=1
		<if test="schoolName != null and schoolName != ''">
			and school_name like CONCAT('%','${schoolName}','%')
		</if>
	</select>

	<update id="updateSchoolZone" parameterType="com.db.entity.SchoolZone">
	update
	tb_school_zone
	<set>
		update_time=#{updateTime}
		<if test="schoolName != null and schoolName != ''">
			,school_name=#{schoolName}
		</if>
		<if test="isUsing != null">
			,is_using=#{isUsing}
		</if>
	</set>
	where school_id=#{schoolId};
</update>

	<update id="updateIsUsing" parameterType="com.db.entity.SchoolZone">
		update tb_school_zone set update_time=#{updateTime},is_using=#{isUsing}
		where school_id=#{schoolId}
	</update>
    
	<delete id="deleteSchoolZone" parameterType="java.lang.Integer">
		delete from
		tb_school_zone where school_id=#{schoolId};
	</delete>
	<select id="getSchoolZoneName" resultMap="BaseResultMap"
		parameterType="String">
		select * from tb_school_zone where school_name=#{schoolZone}
	</select>
	<select id="getschoolName" resultMap="BaseResultMap">
		select * from tb_school_zone where school_name=#{schoolName}
	</select>
</mapper>