<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.TeacherAuthorityService">
	<resultMap type="com.db.entity.TeacherAuthority" id="TeacherAuthorityMap">
		<result column="ta_id" property="taId" jdbcType="INTEGER" />
		<result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="handout_authority" property="handoutAuthority" jdbcType="INTEGER" />
		<result column="questions_authority" property="questionsAuthority" jdbcType="INTEGER" />
		<result column="paper_authority" property="paperAuthority" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" />
		<result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
		
		<association property="subject2" javaType="com.db.entity.Subject">
			<id property="subjectId" column="subject_id" />
			<result property="subjectName" column="subject_name" />
		</association>
		
		<association property="role" javaType="com.db.entity.Role">
			<id property="roleId" column="role_id" />
			<result property="roleName" column="role_name" />
		</association>
		
		<association property="userRole" javaType="com.db.entity.UserRole">
			<id property="userId" column="user_id" />
			<result property="roleId" column="role_id" />
		</association>
		
		<association property="grade2" javaType="com.db.entity.Grade">
		<id column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
		</association>
		
		<association property="schoolZone" javaType="com.db.entity.SchoolZone">
			<id column="school_id" property="schoolId" jdbcType="INTEGER" />
		      <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
		</association>
		
		<association property="teacher" javaType="com.db.entity.Teacher">
			<id property="teacherId" column="teacher_id" />
			<result property="subject" column="subject" />
			<result property="teacherName" column="teacher_name" />
			<result property="campus" column="campus" />
		</association>

		<collection property="gradelist" resultMap="GradeMap"></collection>
	</resultMap>
	<resultMap id="GradeMap" type="com.db.entity.Grade">
		<id column="grade_id" property="gradeId" jdbcType="INTEGER" />
		<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
	</resultMap>
	
<select id="getTeacherIdById" resultMap="TeacherAuthorityMap">
   select * from td_teacher_authority where teacher_id=#{teacherId}
</select>
<select id="getTaIdById" resultMap="TeacherAuthorityMap">
 select * from td_teacher_authority where ta_id=#{taId}
</select>
<update id="updateTeacherAuthority" parameterType="com.db.entity.TeacherAuthority">
    update td_teacher_authority 
    <set>
      <if test="questionsAuthority != null">
       questions_authority=#{questionsAuthority}
      </if>
     <if test="paperAuthority != null">
       ,paper_authority=#{paperAuthority}
      </if>
       <if test="handoutAuthority != null">
       ,handout_authority=#{handoutAuthority}
      </if>
    </set>
    where ta_id=#{taId}
</update>

<update id="updateTeacherGradeId" parameterType="com.db.entity.TeacherAuthority">
	update td_teacher_authority
	<set>
		create_time=#{createTime}
		<if test="grade != null and grade !=''">
			,grade=#{grade}
		</if>
	</set>
	where teacher_id=#{teacherId}
	<if test="grade != null and grade != ''">
		and grade=#{grade}
	</if>
</update>

<insert id="addTeacherAuthority" parameterType="com.db.entity.TeacherAuthority">
	insert into td_teacher_authority
	(teacher_id,handout_authority,questions_authority,
	paper_authority,create_time
	<if test="grade != null and grade != ''">
    <![CDATA[,grade]]>
	</if>
	)
	values(#{teacherId},#{handoutAuthority},#{questionsAuthority},
	#{paperAuthority},#{createTime}
	<if test="grade != null and grade != ''">
    <![CDATA[,#{grade}]]>
	</if>
	)
</insert>

<insert id="addTeacherAuthoritybyList" >
<if test="TeacherAuthorityList !=null and TeacherAuthorityList !=''">
	insert into td_teacher_authority
	(teacher_id,handout_authority,questions_authority,
	paper_authority,create_time,grade
	)
	values
	<foreach collection="TeacherAuthorityList" index="index" item="item" separator="," >
         (#{item.teacherId},#{item.handoutAuthority},
          #{item.questionsAuthority},#{item.paperAuthority},#{item.createTime},#{item.grade})   
     </foreach>    
	
</if>
</insert>


<select id="findAuthorityById" resultMap="TeacherAuthorityMap">
	SELECT * FROM td_teacher_authority ta 
	LEFT JOIN tb_teacher t ON ta.teacher_id=t.teacher_id
	LEFT JOIN tb_subject s ON t.subject=s.subject_id
	LEFT JOIN tb_grade g ON ta.grade=g.grade_id 
	left join td_user_role ur on ta.teacher_id=ur.user_id
	left join tb_role r on ur.role_id=r.role_id 
	left join tb_school_zone sz on t.campus=sz.school_id
	WHERE ta.teacher_id &lt;&gt;1
	<!-- t.teacher_id=#{teacherId} -->
	<if test="teacherName != null and teacherName != ''">
		and t.teacher_name like CONCAT('%','${teacherName}','%')
	</if>
	order by ta.create_time desc limit #{pageNo},#{pageSize}
</select>


<select id="findSchoolIdList" resultMap="TeacherAuthorityMap">
	SELECT * FROM td_teacher_authority ta 
	LEFT JOIN tb_teacher t ON ta.teacher_id=t.teacher_id
	LEFT JOIN tb_subject s ON t.subject=s.subject_id
	LEFT JOIN tb_grade g ON ta.grade=g.grade_id 
	left join td_user_role ur on ta.teacher_id=ur.user_id
	left join tb_role r on ur.role_id=r.role_id 
	left join tb_school_zone sz on t.campus=sz.school_id
	WHERE ta.teacher_id &lt;&gt;1 and t.campus=#{schoolId}
	<!-- t.teacher_id=#{teacherId} -->
	<if test="teacherName != null and teacherName != ''">
		and t.teacher_name like CONCAT('%','${teacherName}','%')
	</if>
	order by ta.create_time desc limit #{pageNo},#{pageSize}
</select>
<delete id="deleteAuthorityById" parameterType="Integer">
   delete from td_teacher_authority where ta_id=#{taId}
</delete>

<delete id="deleteAuthorityByteacherId" parameterType="Integer">
   delete from td_teacher_authority where teacher_id=#{teacherId}
</delete>

<select id="getAuthorityRole" resultMap="TeacherAuthorityMap">
   select * from td_teacher_authority ta left join td_user_role ur on ta.teacher_id=ur.user_id
       where ta.ta_id=#{taId}
</select>
<select id="seefindAuthorityById" resultMap="TeacherAuthorityMap">
	SELECT * FROM td_teacher_authority ta 
	LEFT JOIN tb_teacher t ON ta.teacher_id=t.teacher_id
	LEFT JOIN tb_subject s ON t.subject=s.subject_id
	LEFT JOIN tb_grade g ON ta.grade=g.grade_id 
	left join td_user_role ur on ta.teacher_id=ur.user_id
	left join tb_role r on ur.role_id=r.role_id 
	left join tb_school_zone sz on t.campus=sz.school_id
	WHERE ta.teacher_id=#{teacherId}
	<!-- t.teacher_id=#{teacherId} -->
	<if test="teacherName != null and teacherName != ''">
		and t.teacher_name like CONCAT('%','${teacherName}','%')
	</if>
	order by ta.create_time desc limit #{pageNo},#{pageSize}
</select>
<select id="getCountId" resultType="int">
	  select count(*) from td_teacher_authority ta left join tb_teacher t on ta.teacher_id=t.teacher_id
	   where ta.teacher_id &lt;&gt;1
	    <if test="teacherName != null and teacherName != ''">
	       and t.teacher_name like CONCAT('%','${teacherName}','%')
	    </if>
	</select>
	
	<select id="getCountSchoolId" resultType="int">
	  select count(*) from td_teacher_authority ta 
	   left join tb_teacher t on ta.teacher_id=t.teacher_id
	   where ta.teacher_id &lt;&gt;1 and t.campus=#{schoolId}
	    <if test="teacherName != null and teacherName != ''">
	       and t.teacher_name like CONCAT('%','${teacherName}','%')
	    </if>
	</select>
	
	<select id="seeCountId" resultType="int">
	  select count(*) from td_teacher_authority ta left join tb_teacher t on ta.teacher_id=t.teacher_id where ta.teacher_id=#{teacherId}
	    <if test="teacherName != null and teacherName != ''">
	       and t.teacher_name like CONCAT('%','${teacherName}','%')
	    </if>
	</select>
	<!--查找该教师是否存在该年级  -->
	<select id="findIsTeacherGradeById" resultMap="TeacherAuthorityMap">
	select * from td_teacher_authority where teacher_id=#{teacherId} and grade=#{gradeId}
	</select>
	
</mapper>