<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.service.VerificationCodeService">
	<resultMap type="com.db.entity.VerificationCode" id="VerificationCodeMap">
		<result column="code_id" property="codeId" jdbcType="INTEGER" />
		<result column="student_id" property="studentId" jdbcType="INTEGER" />
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
		<result column="message_code" property="messageCode" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />

	</resultMap>
<select id="confirmCode" resultMap="VerificationCodeMap">
     select * from tb_verification_code where phone_number=#{phone}
</select>

<insert id="addNewCode" parameterType="com.db.entity.VerificationCode">
        insert into tb_verification_code (student_id,phone_number,message_code,create_time)
           values (#{studentId},#{phoneNumber},#{messageCode},#{createTime})
</insert>
<update id="updateCode" parameterType="com.db.entity.VerificationCode">
    update tb_verification_code set message_code = #{messageCode},create_time=#{createTime}
          where code_id=#{codeId}
</update>
<select id="getCodeByPhone" resultMap="VerificationCodeMap" parameterType="java.lang.String">
	select * from tb_verification_code where phone_number =#{0}
</select>
</mapper>